:root {
  --primary-color: rgb(236, 182, 120);
}

body {
  background: #fdfdf4;
  font-family: "Poppins", sans-serif;
}
h1,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  margin-top: 60px;
}

h2 {
  font-weight: normal;
  text-align: center;
  padding: 10px;
  opacity: 0.8;
}

h3 {
  font-size: 35px;
}

.page-links {
  display: flex;
  justify-content: center;
}

.page-links a {
    font-size: 18px;
  text-decoration: none;
  color: var(--primary-color);
  padding: 5px 15px;
}

.page-links a:hover {
  text-decoration: underline;
}

.contact-box {
  background-color: rgb(255, 228, 198);
  padding: 35px 75px;
  margin: 70px 100px;
  border-radius: 15px;
}

.work-together {
  font-size: 20px;
  opacity: 0.8;
}

.contact-link {
  margin-top: 25px;
}

.contact-link a {
  font-size: 15px;
  text-decoration: none;
  padding: 25px;
  background-color: rgb(253, 220, 181);
  border-radius: 15px;
  border: 0.5px solid rgb(255, 222, 184);
  box-shadow: 10px 5px 5px rgb(255, 198, 133);
  color: black;
}

.contact-link a:hover {
  background: rgb(255, 228, 198);
}

.social-media {
  text-align: center;
  font-size: 35px;
}

.social-media a {
  padding: 20px;
  color: var(--primary-color);
}

.open-source-footer {
  text-align: center;
  padding: 15px;
  opacity: 0.7;
}

.open-source-footer a {
  text-decoration: none;
  color: black;
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 20px;
  }
}
