body {
    background: #fdfdf4;
    font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  margin-top: 60px;
}

h2 {
  font-weight: normal;
  text-align: center;
  padding: 10px;
  opacity: 0.8;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
}

.contact-box {
  background-color: rgb(255, 228, 198);
  padding: 35px 75px;
  margin: 50px;
  border-radius: 15px;
}

.work-together {
    font-size: 20px;
    opacity: 0.8;
}

.contact-link {
    margin-top: 25px;
}

.contact-link a{
    font-size: 12px;
    text-decoration: none;
    padding: 25px;
    background-color: rgb(255, 228, 198);
    border-radius: 15px;
    border: 0.5px solid rgb(255, 198, 133);
    box-shadow: 10px 5px 5px rgb(255, 198, 133);
    color: black;
}

.social-media {
  text-align: center;
  font-size: 35px;
}

.social-media a {
  padding: 20px;
  color: rgb(255, 198, 133);
}

.open-source-footer {
    text-align: center;
    padding: 15px;
    opacity: 0.7;
}

.open-source-footer a {
    text-decoration: none;
    color:black;
}