:root {
  --brand-color: rgb(253, 239, 224);
  --secondary-color: rgb(236, 182, 120);
  --button-background-color: rgb(255, 228, 198);
}

body {
  font-family: "Poppins", sans-serif;
  background: #fdfdf4;
}
h1,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  padding: 50px 0 0 0;
}

h2 {
  font-weight: normal;
  text-align: center;
  padding: 10px 5px 5px;
  opacity: 0.8;
}

h3 {
  font-size: 35px;
}

nav {
  padding: 18px 0;
  margin: 0;
}

nav div {
  font-size: 20px;
  opacity: 0.9;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
 margin-left: 15px;
}

nav li.active a {
font-weight: 700;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  background: var(--brand-color);
}

.page-links {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.page-links a {
  font-size: 18px;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 5px 15px;
}

.page-links a:hover {
  text-decoration: underline;
}

.project-examples {
  margin-top: 40px;
  margin-bottom: 35px;
  padding: 40px;
}

.project-examples img {
  padding: 4px;
  background: var(--brand-color);
  border-radius: 20px;
}

.project-examples {
  text-align: center;
}

.project-examples a {
  font-size: 15px;
  text-decoration: none;
  padding: 15px 20px;
  background-color: var(--button-background-color);
  border-radius: 15px;
  border: 0.5px solid rgb(255, 222, 184);
  box-shadow: 5px 5px 5px rgb(212, 189, 162);
  color: black;
  opacity: 0.8;
}

.project-examples a:hover {
  background: rgb(253, 220, 181);
}

.learn-more {
  padding: 20px 0 0 0;
}

.page-title {
  text-align: center;
  padding: 30px 30px 60px;
  font-size: 50px;
}

.about-section p {
  margin: 30px 0;
  line-height: 1.5;
}

.about-section img {
  max-width: 60%;
  border-radius: 250px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.about-section a {
  font-size: 15px;
  text-decoration: none;
  padding: 15px 20px;
  background-color: var(--button-background-color);
  border-radius: 15px;
  border: 0.5px solid rgb(255, 222, 184);
  box-shadow: 5px 5px 5px rgb(212, 189, 162);
  color: black;
  opacity: 0.8;
}

.about-section a:hover {
  background: rgb(253, 220, 181);
}

.projects img {
  padding: 4px;
  background: var(--brand-color);
  border-radius: 20px;
}

.project-description {
  padding: 50px;
}

.project-description h3 {
font-size: 50px;
margin: 25px 0;
}

.project-description p {
  margin-bottom: 40px;
}

.project-description a {
  font-size: 15px;
  text-decoration: none;
  padding: 15px 20px;
  background-color: var(--button-background-color);
  border-radius: 15px;
  border: 0.5px solid rgb(255, 222, 184);
  box-shadow: 5px 5px 5px rgb(212, 189, 162);
  color: black;
  opacity: 0.8;
}

.project-description a:hover {
  background: rgb(253, 220, 181);
}

.contact-info {
  padding: 20px;
  margin: 20px;
}

.contact-info p {
text-align: center;
font-size: 20px;
padding: 5px;
}

.contact-info a {
  text-decoration: none;
  color: var(--secondary-color);
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-box {
  background-color: var(--brand-color);
  padding: 35px 75px;
  margin: 70px 100px;
  border-radius: 15px;
}

.work-together {
  font-size: 20px;
  opacity: 0.8;
}

.contact-link {
  margin-top: 25px;
}

.contact-link a {
  font-size: 15px;
  text-decoration: none;
  padding: 17px 20px;
  background-color: var(--button-background-color);
  border-radius: 15px;
  border: 0.5px solid rgb(255, 222, 184);
  box-shadow: 5px 5px 5px rgb(212, 189, 162);
  color: black;
  opacity: 0.8;
}

.contact-link a:hover {
  background: rgb(253, 220, 181);
}

.social-media {
  text-align: center;
  font-size: 35px;
}

.social-media a {
  padding: 20px;
  color: var(--secondary-color);
}

.open-source-footer {
  text-align: center;
  padding: 15px;
  opacity: 0.7;
}

.open-source-footer a {
  text-decoration: none;
  color: black;
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 20px;
    padding: 30px;
  }

  .project-description h3 {
    font-size: 35px;
  }

  .project-examples img {
    margin-bottom: 10px;
  }

  .example-details {
    margin-bottom: 40px;
  }

  .page-title {
    padding: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 45px;
  }

  .about-section p {
    text-align: center;
    padding: 0 5px;
  }

  .project-link {
    text-align: center;
    margin-bottom: 30px;
  }

  .about-section img {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
  }

  .project-description {
    padding: 10px;
    margin: 10px;
  }

  .contact-info p {
    font-size: 18px;
  }

  .open-source-footer {
    font-size: 12px;
  }
}
